#root {
    height: 100%;
}

.App {
    height: 100%;
    color: rgb(41, 45, 62);
}

.Home > .content {
    width: 1024px;
    margin-top: 5em;
}

.Home .ui.menu {
    width: 100%;
}

.Home {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.page>.content{
    display: flex;
}
.page .ui.vertical.menu {
    min-width: 210px;
}

.sub-page {
    padding-top: 1em;
    padding-left: 1em;
    width: 100%;
}

.sub-page .ui.cards>.card,
.sub-page .ui.card {
    width: 28em;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.ui.popup.warning, .ui.right.center.popup.warning:before {
    color: #573a08;
    background-color: #fffaf3;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
